---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/sections/Hero";
import USP from "@/components/sections/USP";
import Services from "@/components/sections/Services";
import Spareparts from "@/components/sections/Spareparts";
import Process from "@/components/sections/Process";
import Testimonials from "@/components/sections/Testimonials";
import Contact from "@/components/sections/Contact";
---

<Layout title="Bengkel Motor SS - Solusi Perawatan Motor Terpercaya">
	<main>
		<Hero client:load />
		<USP client:visible />
		<Services client:visible />
		<Spareparts client:visible />
		<Process client:visible />
		<Testimonials client:visible />
		<Contact client:visible />
	</main>
</Layout>
